.header{
  background-color: rgba(127, 130, 132, 0.924);
  text-align: center;
  margin-bottom: 1rem;
}

.footer{
  background-color: rgba(127, 130, 132, 0.924);
  text-align: center;
  margin-top: 1rem;
  padding: 1rem;
}

.spot{
  background-color: rgba(127, 130, 132, 0.924);
  height: 80vh;
  border-radius: 10px;
  padding: 1.5em;
  overflow: scroll;
  
}

.spot h3{
  text-align: center;
  color: white;
}